<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-10 col-md-offset-1">
      
      <h3>{{ minIdx }} - {{ maxIdx }}</h3>
      
      <div class="leader-row" ng-repeat="leader in leaders">
        <img class="profile-image" ng-src="{{ leader.profileImg }}">
        <span class="rank">
          {{ leader.rank }}.
          <a ng-href="{{ leader.profileUrl }}" target="_blank">
            {{ leader.userFirstName + ' ' + leader.userLastName }}
          </a>
        </span>
      </div>
      
    </div>
  </div>
</div>
