<div id="header">
  <div id="pageTitle">
    <h1>Leaderboard for {{ date | date:'EEEE, MMM d, yyyy' }}</h1>
    <h2>Workout: {{ workoutName }}</h2>
  </div>
</div>

<div id="main-content" class="view-container">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-special">
          <h4 class="center">
            Total Athletes: {{ nAthletes }}
          </h4>
          <h4 class="center">
            Total Tests: {{ tests.length }}
          </h4>
            <p class="center" ng-repeat="test in tests">
              Test {{$index+1}}: {{ test.title }} (type {{ test.testType }})
              - {{ test.testInstructions }}
            </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3>{{ minIdx }} - {{ maxIdx }}</h3>
        
        <div class="row leader-row" ng-repeat="leader in leaders">
          <leader-info leader="leader"></leader-info>
        </div> <!-- /.leader-row -->
        
      </div>
    </div> <!-- /.row -->
    
  </div> <!-- /.container -->
</div> <!-- /#main-content -->
