<img class="profile-image" ng-src="{{ leader.profileImg }}">

<div class="leader-info-general">
  <span class="rank">
    {{ leader.rank }}
  </span>
  
  <span class="{{ leader.rankClass }}">
    ({{ leader.rankChange }})
  </span>
  
  <span class="leader-name">
    <a ng-href="{{ leader.profileUrl }}" target="_blank">
      {{ leader.userFirstName + ' ' + leader.userLastName }}
    </a>
  </span>
</div>

<span class="test-result" ng-repeat="test in leader.tests">
  Test {{ $index + 1 }}: {{ test }}
</span>
